<h2 class="display-3 m-3"><%= @restaurant.name %></h2>
<h5 class="fs-5 m-3"><%= @restaurant.address %></h5>
<h5 class="fs-5 m-3"><%= @restaurant.category %></h5>
<h5 class="fs-5 m-3"><%= @restaurant.phone_number %></h5>

<%= link_to 'Back to all restaurants', restaurants_path, :class => "btn btn-outline-secondary btn-sm m-3" %>
